/* App.js */
.widget-button {
    position: fixed;
    bottom: 8px;
    right: 100px;
    cursor: pointer;
    border-radius: 50% !important;
}
.webchat-widget{
    position: fixed;
    bottom: 18px;
    right: 200px;
    cursor: pointer;
    border-radius: 50% !important;
    padding: 10px;
    border: 2px solid #7780f7;
    background-color: #7780f7;
    color: white;
}
.facebook-button{
    height: 60px;
    width: 60px;
}

/* Chat Screen */
.conversation-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: fixed;
    height: 400px;
    background-color: #f4f5fe;
    bottom: 100px;
    right: 130px;
    border-radius: 10px;
}

/* Header Screen */
.header-block {
    display: flex;
    flex: 0;
    background-color: #7780f7;
    padding: 5px;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.user-profile>img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.user-name-block {
    margin: 0px 10px 0px 6px;
}

.user-name {
    font-size: 15px;
    font-weight: 800;
    color: white;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.user-about {
    font-size: 12px;
    text-transform: capitalize;
}

.attachments-block {
    display: flex;
    align-items: center;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.attachments-block .search-icon {
    position: absolute;
    /* right: 0px; */
    right: 15px;
}

.search-block {
    align-items: center;
    justify-content: center;
    display: flex;
}

.search-bar {
    padding: 10px;
    margin-bottom: 5px;
    color: grey;
    width: 90%;
    font-size: 12px;
    box-shadow: 0px 6px 5px 0px lightgrey;
    border-radius: 10px;
}

/* Chat Screen */
.chat-block {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 10px;
}

.message-design {
    background-color: #eff0fd;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 10px;
    border: none;
    box-shadow: 1px 1px 10px 1px #7780f7;
    font-size: 14px;
    color: grey;
}

.chat-message-agent .message-design {
    background-color: #7780f7;
    color: white;
}

.chat-message-agent {
    text-align: right;
}

.chat-message-customer {
    text-align: left;
}

/* Input Block */
.message-input-block{
    margin-left: 10px;
}
.inputfield-block {
    justify-content: space-between;
    display: flex;
    flex: 0;
    align-items: center;
}

.message-input {
    width: 100%;
    border: 2px solid #7780f7;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px lightgrey;
    margin-right: 50px;
}

.message-input:focus {
    outline: none;
}

.send-button-block {
    margin-left: 30px;
}

.send-button {
    padding: 7px 13px;
    border-radius: 50%;
    margin: 10px;
    background-color: #7780f7;
    color: white;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 2px 6px 4px lightgrey;
}